<form class="example-form" (ngSubmit)="onSubmit()" #cargoForm="ngForm">
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" class="form-control" id="name"
        required [(ngModel)]="model.name" name="name" #name="ngModel">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Código</mat-label>
        <input matInput type="text" class="form-control" id="codigo"
        required [(ngModel)]="model.codigo" name="codigo" #name="ngModel"> 
         </mat-form-field></td>
    </tr></table>
    <button mat-raised-button color="primary" type="submit">Guardar</button>
  </form>
  