<div class="tblContainer">
    <mat-toolbar>
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="!profileForm.valid">
            <mat-icon>save</mat-icon>
            Guardar
        </button>
        <a mat-raised-button color="primary" (click)="regresar()">
            <mat-icon>assignment_return</mat-icon>
            Regresar
        </a>
        <a mat-raised-button color="primary" (click)="cleanForm()">
            <mat-icon>restore_page</mat-icon>
            Limpiar
        </a>
    </mat-toolbar>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="field-full-width" appearance="fill">
            <mat-label>Identificacion:</mat-label>
            <input matInput class="form-control" id="identificacion" type="text" formControlName="identificacion" required>
        </mat-form-field>

        <mat-form-field class="field-full-width" appearance="fill">
            <mat-label>Primer Nombre:</mat-label>
            <input matInput class="form-control" id="primerNombre" type="text" formControlName="primer_nombre" required>
        </mat-form-field>

        <mat-form-field class="field-full-width" appearance="fill">
            <mat-label>Segundo Nombre:</mat-label>
            <input matInput class="form-control" id="segundoNombre" type="text" formControlName="segundo_nombre" required>
        </mat-form-field>

        <mat-form-field class="field-full-width" appearance="fill">
            <mat-label>Primer Apellido:</mat-label>
            <input matInput class="form-control" id="primerApellido" type="text" formControlName="primer_apellido" required>
        </mat-form-field>

        <mat-form-field class="field-full-width" appearance="fill">
            <mat-label>Segundo Apellido:</mat-label>
            <input matInput class="form-control" id="segundoApellido" type="text" formControlName="segundo_apellido" required>
        </mat-form-field>

        <mat-form-field class="field-full-width" appearance="fill">
            <mat-label>Sexo:</mat-label>
            <input matInput class="form-control" id="sexo" type="text" formControlName="sexo" required>
        </mat-form-field>

        <mat-form-field class="field-full-width" appearance="fill">
            <mat-label>Dirección:</mat-label>
            <input matInput class="form-control" id="direccion" type="text" formControlName="direccion" required>
        </mat-form-field>

        <mat-form-field class="field-full-width" appearance="fill">
            <mat-label>Teléfono:</mat-label>
            <input matInput class="form-control" id="telefono" type="text" formControlName="telefono" required>
        </mat-form-field>

        <mat-form-field class="field-full-width" appearance="fill">
            <mat-label>Fecha Nacimiento:</mat-label>
            <input matInput class="form-control" id="fechaNacimiento" type="text" formControlName="fecha_nacimiento" required>
        </mat-form-field>

        <mat-form-field class="field-full-width" appearance="fill">
            <mat-label>Sueldo:</mat-label>
            <input matInput class="form-control" id="sueldo" type="text" formControlName="sueldo" required>
        </mat-form-field>

        <mat-form-field class="field-full-width" appearance="fill">
            <mat-label>Departamento:</mat-label>
            <input matInput class="form-control" id="departamento" type="text" formControlName="id_departamento" required>
        </mat-form-field>

        <mat-form-field class="field-full-width" appearance="fill">
            <mat-label>Cargo:</mat-label>
            <input matInput class="form-control" id="cargo" type="text" formControlName="id_cargo" required>
        </mat-form-field>
        
    </form>

    <hr>

    <p>Form Value: {{ profileForm.value | json }}</p>

    <p>Form Status: {{ profileForm.status }}</p>

</div>